{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block title %}Sign In{% endblock title %}
{% block content %}
<section class="bg-creamy">
  <div class="container d-flex flex-column justify-content-center sing-in">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Welcome Back" %}</h3>
  
        <p>{% blocktrans %}Welcome back to the Afghan Cuisine. To book a reservation or manage your reservations, please log in. If you
          have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <table class="table">
          <form class="login" method="POST" action="{% url 'account_login' %}" id="login-table">
            {% csrf_token %}
            {{ form.as_table }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
        </table>
        <button class="btn btn-signup" type="submit" form="login-table">{% trans "Sign In" %}</button>
      </div>
      <div class="col-md-8 mt-3 offset-md-2 socialaccount_ballot">
        <p>or sign in with:</p>

        <div class="socialaccount_providers d-flex flex-column justify-content-center">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
    
      </div>
    </div>
  </div>
</section>

{% endblock %}