{% extends "base.html" %}

{% load i18n %}
{% block title %}Sign Up{% endblock title %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="bg-creamy">
  <div class="container d-flex flex-column justify-content-center sing-in">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Sign Up" %}</h3>

        <p>{% blocktrans %}Welcome back to the code|star blog. Do you already have an account? Then please <a class="link"
            href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <table class="table" style="height: 200px;">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_table }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
        </table>
        <button class="btn btn-signup" type="submit" form="signup_form">{% trans "Sign Up" %}</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}