/* ------------------------------------- Colors */
.bg-burgunday {
    background-color: #922C40;
}

.text-creamy {
    color: #F3EAC0;
}


/* ----------------------------------------- Header */
.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-brand:hover {
    color: #F3EAC0;
}

.reservation-btn {
    border: 1px solid  #F3EAC0;
    color: #F3EAC0;
}

.reservation-btn:hover {
    background-color: #F3EAC0;
    color: black;
}

/* -------------------------------------------- The navbar toggler button */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,234,192,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: rgb(243,234,192);
  } 