/* ------------------------------------- Colors */
.bg-burgunday {
    background-color: #922C40;
}

.text-creamy {
    color: #F3EAC0;
}

.bg-creamy {
    background-color: #F3EAC0;
}

.bg-brown {
    background-color: #603B3B;
}

.text-brown {
    color: #603B3B;
}

/* ----------------------------------------- Header */
.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-brand:hover {
    color: #F3EAC0;
}

.reservation-btn {
    border: 1px solid  #F3EAC0;
    color: #F3EAC0;
}

.reservation-btn:hover {
    background-color: #F3EAC0;
    color: black;
}

.scrolling {
    background: #922C40;
  }

.position-relative {
  position: relative;
}

/* -------------------------------------------- The navbar toggler button */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,234,192,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: rgb(243,234,192);
  }

/* ---------------------------------------------- Hero image */
.hero {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("/static/media/images/hero-image-afghancuisine.jpg") no-repeat fixed bottom / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1;
    margin: 15px 0;
  }

  .hero h3 {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
  }

  .hero-down-arrow {
    font-size: 40px;
    margin-top: 20px;
  }

  .hero-down-arrow:hover {
    color: white;
  }

/* ---------------------------------------------- About Us */
  .about-us-hr {
    width: 50%;
    border-top: 3px double #603B3B;
  }

  .about-us-paragraph {
    max-width: 800px;
  }

  /* ---------------------------------------------- Delivery and opening hours */
  .dilevery-info img {
    max-width: 100px;
    display: block;
    margin: auto;
  }

  .blockquote-footer::before {
    content: "";
  }

/* ---------------------------------------------- Contact Us */
.contact-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid white;
}

.contact-form-column {
  border-top: 3px solid #922C40;
  border-left: 3px solid #922C40;
}

.contact-form-image {
  height: 100%;
  width: 100%;
}

/* ---------------------------------------------- Adress */
.adress {
  border-top: 1px solid white;
}

.map-column {
  border-left: 1px solid white;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* ---------------------------------------------- Authentication */
.sing-in {
  height: 90vh;
}

.btn-signup {
  border: 1px solid #922C40
}

.btn-signup:hover {
  color: #F3EAC0;
  background-color: #922C40;
}

.social-btn a {
  text-decoration: none;
  color: inherit;
}

.table th,
.table td {
  border-color: white;
}

/* ---------------------------------------------- viewing reservations */
.view_reservations {
  height: 90vh;
  display: flex;
  align-items: center;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.list-group-item {
  background: inherit;
  padding: 5px 10px;
  border: 1px solid #922C40;
  color: #922C40;
}

.list-group-item:hover{
  text-decoration: none;
  background-color: #922C40;
  color: #F3EAC0;
}

.collaps-div {
  border: 1px solid #922C40;
}

/* ---------------------------------------------- create reservations */
.create-reservation {
  height: 90vh;
}

.create-reservation a {
  color: #922C40;
  text-decoration: underline;
}

/* ---------------------------------------------- edit reservations */
.btn a {
  text-decoration: none !important;
}

.btn-danger {
  margin: 10px;
  text-decoration: none !important;
  color: white !important;
}

.show {
  display: block !important;
}

.modal {
  display: none;
}

.modal-content {
  background-color: #922C40;
  color: #F3EAC0;
}

/* ---------------------------------------------- Footer */
footer, footer a {
    color: white;
}

footer a:hover {
    color: #F3EAC0;
}

footer i {
    font-size: 30px;
}