{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Afghan Cuisine {% endblock title %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg {% block nav-position %}fixed-top{% endblock nav-position %} bg-burgunday">
        <a class="navbar-brand text-creamy" href="{% url 'index' %}">Afghan Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-creamy" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-creamy" href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-creamy" href="{% url 'index' %}#about-section">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-creamy" href="{% url 'index' %}#contact-section">Contact</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-creamy" href="{% url 'reservations' %}">My Reservations</a>
                </li>
            {% endif %}
            
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown mx-lg-3">
                <a class="nav-link dropdown-toggle text-creamy" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="#">View Account</a>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                  {% if user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
                  {% endif %}
                  {% else %}
                  <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                  <a class="dropdown-item" href="{% url 'account_signup' %}">SignUp</a>
                  {% endif %}
                </div>
            </li>
            <li class="navbar-item mx-lg-3">
                <a class="btn reservation-btn" href="{% url 'create_reservation' %}">Reservation</a>
            </li>
          </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="container-fluid bg-brown">
        <div class="row py-3">
            <div class="col-12 col-md-4 align-self-start d-flex align-items-center justify-content-center">
                    <p class="">
                        &#9426; Afghan Cuisine 2022
                    </p>
            </div>
            <div class="col-12 col-md-4 align-self-center">
                <ul class="list-inline social-links d-flex align-items-center justify-content-center">
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-snapchat" aria-hidden="true"></i>
                            <span class="sr-only">Snapchat</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 align-self-end d-flex align-items-center justify-content-center">
                <p>
                    Designed by <a href="https://www.linkedin.com/in/jalaluddin-khalid-683b82245/" target="_blank">Jalaluddin Khalid</a>
                </p>
            </div>
        </div>
    </footer>

    {% block js %}
    <!-- Javascript goes here -->
    {% endblock js %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/6d150c6f4b.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>