{% extends 'base.html' %}

{% block content %}
    <center class="create-reservation d-flex flex-column justify-content-center align-items-center bg-creamy">
        {% if user.is_authenticated %}
            {% if submitted %}
                <h1 class="text-brown">Thank you for your reservation</h1>
                <p class="h3">Your reservation is awaiting approval now</p>
            {% else %}
                <h1 class="text-brown">Book a reservation</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="submit" class="btn btn-signup">
                </form>
            {% endif %}
        {% else %}
        <h1 class="text-brown"><a href="{% url 'account_login' %}">Login</a> to make a reservation</h1>
        {% endif %}
    </center>
{% endblock content %}


