{% extends 'base.html' %}

{% block content %}

<center class="create-reservation d-flex flex-column justify-content-center align-items-center bg-creamy">
    {% if user.is_authenticated %}
        {% if submitted %}
            <h1 class="text-brown">Your reservation has been updated</h1>
        {% else %}
            <h1 class="text-brown">Update your reservation</h1>
            <table>
              <form action="" method="POST" id="edit_reservation_form">
                  {% csrf_token %}
                  {{ form.as_table }}
              </form>
            </table>
            <button type="submit" class="btn btn-signup" form="edit_reservation_form">Submit</button>
            <a class="btn btn-danger" onclick="show_modal();">Delete</a>

            <!-- The modal -->
            <div class="modal" tabindex="-1" id="modal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Are you sure you want to delete this reservation</h5>
                    </div>
                    <div class="modal-body">
                      <p>This action <strong>CAN NOT</strong> be undon!</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'delete_reservation' reservation_id %}" class="btn btn-danger">Delete</a>
                      <a class="btn reservation-btn" onclick="show_modal();">No</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}
    {% else %}
    <h1 class="text-brown"><a href="{% url 'account_login' %}">Login</a> to update your reservations</h1>
    {% endif %}
</center>

{% endblock content %}