{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<!-- The hero image -->
<div class="hero">
    <h1>Welcome To Afghan Cuisine</h1>
    <h3>Where every flavour tells a story</h3>
    <a class="text-creamy hero-down-arrow" href="#about-section"><i class="fa-solid fa-chevron-down"></i></a>
</div>
<!-- The about section -->
<section class="container-fluid" id="about-section">
    <div class="row bg-creamy">
        <div class="col-12 text-center py-5">
            <h1 class="text-brown">About Us</h1>
            <p class="h2">We bring you the taste of Afghanistan</p>
            <hr class="about-us-hr">
        </div>
        <div class="col-12 d-md-flex flex-column align-items-center">
            <p class="about-us-paragraph text-center">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-center">Call us on 12345689 or email us in fll.this.later@gmai.com</p>
        </div>
    </div>
    <div class="row bg-creamy dilevery-info py-4">
        <div class="col-12 d-md-flex justify-content-center">
            <img class="mx-md-3" src="{% static 'media/images/foodora.png' %}" alt="Foodora image">
            <img class="mx-md-3" src="{% static 'media/images/uber-eats.png' %}" alt="Uber eats image">
        </div>
    </div>
    <div class="row bg-creamy py-4">
        <div class="col-12">
            <h3 class="text-center">Opening Hours</h3>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Tuesday - Sunday</p>
                <footer class="blockquote-footer">10:00 - 21:00</footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Monday</p>
                <footer class="blockquote-footer">closed</footer>
            </blockquote>
        </div>
    </div>
</section>

<section class="contact-us bg-creamy" id="contact-section">
    {% if name %}
        {% include 'messages.html' %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 my-2">
                <img class="contact-form-image" src="{% static 'media/images/contact-page-image.jpg' %}" alt="afghan food">
            </div>
            <div class="col-12 col-md-6 my-2 contact-form-column">
                <h1 class="text-center text-brown">Contact Us</h1>
                <form method="post">
                    {{ contact_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-creamy">
    <div class="row m-0 adress py-3">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center text-brown">Adress</h1>
            <p class="h3">Harpsundsgatan 18, 124 58 Bandhagen</p>
        </div>
        <div class="col-12 col-md-6 map-column">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6410.420206105913!2d18.041035197303913!3d59.26473774180309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!3m2!1sen!2sse!4v1669585761794!5m2!1sen!2sse" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<!-- Toggle navabar background on scroll -->
<script>
        $(document).ready(function() {
            $('nav').removeClass('bg-burgunday');
            $(window).bind('scroll', function() {
                var gap = 50;
                if($(window).scrollTop() > gap) {
                    $('nav').addClass('scrolling');
                } else {
                    $('nav').removeClass('scrolling');
                }
            })
        })
</script>
{% endblock js %}