{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- The hero image -->
<div class="hero">
    <h1>Welcome To Afghan Cuisine</h1>
    <h3>Where every flavour tells a story</h3>
    <a class="text-creamy hero-down-arrow" href="#about-section"><i class="fa-solid fa-chevron-down"></i></a>
</div>
<!-- The about section -->
<section class="container-fluid" id="about-section">
    <div class="row bg-creamy">
        <div class="col-12 text-center py-5">
            <h1 class="text-brown">About Us</h1>
            <p class="h2">We bring you the taste of Afghanistan</p>
            <hr class="about-us-hr">
        </div>
        <div class="col-12 d-md-flex flex-column align-items-center">
            <p class="about-us-paragraph text-center">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="text-center">Call us on 12345689 or email us in fll.this.later@gmai.com</p>
        </div>
    </div>
    <div class="row bg-creamy dilevery-info py-4">
        <div class="col-12 d-md-flex justify-content-center">
            <img class="mx-md-3" src="/static/media/images/foodora.png" alt="Foodora image">
            <img class="mx-md-3" src="/static/media/images/uber-eats.png" alt="Uber eats image">
        </div>
    </div>
    <div class="row bg-creamy py-4">
        <div class="col-12">
            <h3 class="text-center">Opening Hours</h3>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Tuesday - Sunday</p>
                <footer class="blockquote-footer">10:00 - 21:00</footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Monday</p>
                <footer class="blockquote-footer">closed</footer>
            </blockquote>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}

<!-- Toggle navabar background on scroll -->
    <script>
        $(document).ready(function() {
            $('nav').removeClass('bg-burgunday');
            $(window).bind('scroll', function() {
                var gap = 50;
                if($(window).scrollTop() > gap) {
                    $('nav').addClass('scrolling');
                } else {
                    $('nav').removeClass('scrolling');
                }
            })
        })
    </script>
{% endblock js %}