{% extends 'base.html' %}
{% load static %}


{% block nav-position %}position-relative{% endblock nav-position %}

{% block content %}

<center class="d-flex flex-column justify-content-center align-items-center bg-creamy">
    <h1 class="text-center text-brown">Menu</h1>
    <div class="container">
        <div class="row">
            <div class="col-12"><h3 class="text-left menu-subtitle">Dishes <i class="fa-solid fa-utensils"></i></h3></div>
            {% for dish in dishes_list %}
            <div class="col-12 col-md-4 my-3">
                <div class="card" style="width: 18rem;">
                    {% if "placeholder" in dish.dish_pic.url %}
                    <img class="card-img-top" src="{% static 'media/images/image_coming_soon.png' %}" alt="image coming soon">
                    {% else %}
                    <img class="card-img-top" src=" {{ dish.dish_pic.url }}" alt="image of {{ dish.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{dish.name}} - {{dish.price}}$</h5>
                        <div class="collapse" id="collapse-{{ dish.id }}">
                            <p class="card-text">{{dish.description}}</p>
                            <hr>
                            <div style="overflow-x: auto;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Calories</th>
                                            <th scope="col">Carbs</th>
                                            <th scope="col">Protien</th>
                                            <th scope="col">Fat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ dish.calorie_amount }}</td>
                                            <td>{{ dish.carbs_amount }}</td>
                                            <td>{{ dish.protien_amount }}</td>
                                            <td>{{ dish.fat_amount }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {% if dish.alergens.all|length %}
                            <h6>Allergens:</h6>
                            <div class="d-flex justify-content-center">
                                {% for alergen in dish.alergens.all %}
                                <i class="allergen-level-yes"><span class=" eicon eicon-circle-{{alergen.name}}"></span></i>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <a class="btn btn-signup my-3" data-toggle="collapse" href="#collapse-{{ dish.id }}" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12"><h3 class="text-left menu-subtitle">Drinks <i class="fa-solid fa-wine-glass"></i></h3></div>
            {% for drink in drinks_list %}
            <div class="col-12 col-md-4 my-3">
                <div class="card" style="width: 18rem;">
                    {% if "placeholder" in drink.drink_pic.url %}
                    <img class="card-img-top" src="{% static 'media/images/image_coming_soon.png' %}" alt="image coming soon">
                    {% else %}
                    <img class="card-img-top" src=" {{ drink.drink_pic.url }}" alt="image of {{ dish.name }}">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{drink.name}} - {{drink.price}}$</h5>
                      <p class="card-text">{{drink.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row py-3">
            <div class="col-12">
                <p>Read more about the allergens icons <a href="https://erudus.com/" target="_blank" aria-label="link to erudus website that will open in another tab" class="text-brown"><u>in Here</u></a></p>
            <a href="{% url 'create_reservation' %}" class="btn btn-menu">Book a table</a>
            </div>
        </div>
    </div>
</center>

{% endblock content %}