{% extends 'base.html' %}

{% block title %}Reservations{% endblock title %}
{% block content %}
<section class="reservations bg-creamy">
    <div class="container d-flex flex-coulmn justify-content-center">
        <div class="row">
            <div class="col-12 mt-3 left">
                {% if reservations_list %}
                <ul class="collapsible">
                    {% for reservation in reservations_list %}
                    <li>
                        <p>
                            <a class="btn btn-signup" data-toggle="collapse" href="#collapse{{ reservation.title }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <strong>{{ reservation.title}}</strong> : {{ reservation.date_picked|date:"Y-m-d" }}
                                {% if reservation.approved == True %}
                                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
                                {% endif %}
                            </a>
                        </p>
                        <div class="collapse" id="collapse{{ reservation.title }}">
                            <div class="card card-body ">
                                {{ reservation.client }} has booked this reservation for {{ reservation.date_picked|date:"Y-m-d" }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}