{% extends 'base.html' %}

{% block title %}Reservations{% endblock title %}
{% block content %}
<section class="view_reservations bg-creamy">
    <div class="container d-flex flex-coulmn justify-content-center">
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% if user.is_authenticated %}
                    {% if reservations_list|length != 0 %}
                        <h1 class="text-brown">Reservations</h1>
                        {% for reservation in reservations_list %}
                            <div id="collapse_this">
                                <div class="panel list-group">
                                    <a href="#Collaps-{{reservation.id}}" data-parent="#collapse_this" data-toggle="collapse" class="list-group-item">
                                        <p class="h3">Reservation on: {{reservation.date_picked}}&emsp;<i class="fa-solid fa-arrow-down"></i></p>
                                    </a>
                                    <div class="collapse collaps-div" id="Collaps-{{reservation.id}}">
                                    <ul class="list-group-item-text">
                                        <li>{{reservation.name}} has booked a reservation for {{ reservation.num_of_guest }} guests</li>
                                        <li>Date and time: {{ reservation.date_picked}} - {{ reservation.time_picked }}</li>
                                        <li>Approved: {% if reservation.approved %}<i
                                            class="text-green fa-regular fa-circle-check"></i>{% else %}<i
                                            class="text-red fa-solid fa-x"></i>{% endif %}</li>
                                        <li><a class="btn btn-signup" href="{% url 'edit_reservation' reservation.id %}">Edit</a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1 class="text-brown">You have no reservations</h1>
                        <p>Book a reservation <a href="{% url 'create_reservation' %}">here</a></p>
                    {% endif %}
                {% else %}
                    <h1 class="text-brown"><a href="{% url 'account_login' %}">Login</a> to view your reservations</h1>
                {% endif %}
              </div>
        </div>
    </div>
</section>
{% endblock content %}