{% extends 'base.html' %}

{% block title %}Reservations{% endblock title %}
{% block content %}
<section class="view_reservations bg-creamy">
    <div class="container d-flex flex-coulmn justify-content-center">
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% if user.is_authenticated %}
                    {% if reservations_list|length != 0 %}
                        <h1 class="text-brown">Reservations</h1>
                        {% for reservation in reservations_list %}
                            <div style="overflow-x: auto;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Approved</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>{{ reservation.date_picked}}</td>
                                        <td>{{ reservation.time_picked}}</td>
                                        <td>{% if reservation.approved %}<i
                                            class="text-green fa-regular fa-circle-check"></i>{% else %}<i
                                            class="text-red fa-solid fa-x"></i>{% endif %}</td>
                                        <td><a class="btn btn-signup" href="{% url 'edit_reservation' reservation.id %}">Edit</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1 class="text-brown">You have no reservations</h1>
                        <p>Book a reservation <a href="{% url 'create_reservation' %}">here</a></p>
                    {% endif %}
                {% else %}
                    <h1 class="text-brown"><a href="{% url 'account_login' %}">Login</a> to view your reservations</h1>
                {% endif %}
              </div>
        </div>
    </div>
</section>
{% endblock content %}